<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index.html}"  xmlns:th="http://www.thymeleaf.org"> 

    <section layout:fragment="content">
        <div class="container py-4">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <h2>Editar Producto <a th:href="@{/productPresentation}" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a></h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/editProductPresentation}" th:object="${productPresentation}" method="post">
                        <div class="form-group row">
                            <label for="presentation_code" class="col-sm-2 col-form-label">Código</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{presentation_code}" class="form-control"
                                       th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('presentation_code')}" th:errors="*{presentation_code}"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="presentation_name" class="col-sm-2 col-form-label">Nombre</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{presentation_name}" class="form-control"
                                       th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('presentation_name')}" th:errors="*{presentation_name}"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="alternative_code" class="col-sm-2 col-form-label">Código Alternativo</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{alternative_code}" class="form-control"
                                       th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('alternative_code')}" th:errors="*{alternative_code}"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="barcode" class="col-sm-2 col-form-label">Código de Barras</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{barcode}" class="form-control"
                                       th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('barcode')}" th:errors="*{barcode}"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cost" class="col-sm-2 col-form-label">Código de Barras</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{cost}" class="form-control"
                                       th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="weight" class="col-sm-2 col-form-label">Código de Barras</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{weight}" class="form-control"
                                       th:errorclass="'form-control alert-danger'" /> <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="product" class="col-sm-2 col-form-label">Producto</label>
                            <div class="col-sm-6">
                                <select th:field="*{product}" class="form-control"
                                        th:errorclass="'form-control alert-danger'" >                           
                                    <option value="" > Seleccione una producto </option>
                                    <option th:each="product : ${productIterable}"
                                            th:value="${product.getId()}"
                                            th:utext="${product.getDescription()}"/>
                                </select>
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('product')}" th:errors="*{product}"></small>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="product_color" class="col-sm-2 col-form-label">Color</label>
                            <div class="col-sm-6">
                                <select th:field="*{productColor}" class="form-control"
                                        th:errorclass="'form-control alert-danger'" >                           
                                    <option value="" > Seleccion un color </option>
                                    <option th:each="productColor : ${productColorIterable}"
                                            th:value="${productColor.getId()}"
                                            th:utext="${productColor.getName()}"/>
                                </select>
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('productColor')}" th:errors="*{productColor}"></small>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="productSize" class="col-sm-2 col-form-label">Tamaño</label>
                            <div class="col-sm-6">
                                <select th:field="*{productSize}" class="form-control"
                                        th:errorclass="'form-control alert-danger'" >                           
                                    <option value="" > Seleccion un tamaño </option>
                                    <option th:each="productSize : ${productSizeIterable}"
                                            th:value="${productSize.getId()}"
                                            th:utext="${productSize.getDescription()}"/>
                                </select>
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('productSize')}" th:errors="*{productSize}"></small>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="productBrand" class="col-sm-2 col-form-label">Marca</label>
                            <div class="col-sm-6">
                                <select th:field="*{productBrand}" class="form-control"
                                        th:errorclass="'form-control alert-danger'" >                           
                                    <option value="" > Seleccion una marca </option>
                                    <option th:each="productBrand : ${productBrandIterable}"
                                            th:value="${productBrand.getId()}"
                                            th:utext="${productBrand.getName()}"/>
                                </select>
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('productBrand')}" th:errors="*{productBrand}"></small>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="productFamily" class="col-sm-2 col-form-label">Familia</label>
                            <div class="col-sm-6">
                                <select th:field="*{productFamily}" class="form-control"
                                        th:errorclass="'form-control alert-danger'" >                           
                                    <option value="" > Seleccion una Familia </option>
                                    <option th:each="productFamily : ${productFamilyIterable}"
                                            th:value="${productFamily.getId()}"
                                            th:utext="${productFamily.getName()}"/>
                                </select>
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('productFamily')}" th:errors="*{productFamily}"></small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="enabled" class="col-sm-2 col-form-label">Activo</label>
                            <div class="col-sm-6">
                                <select th:field="*{enabled}" class="form-control"
                                        th:errorclass="'form-control alert-danger'">
                                    <option value="true" selected="true">Activo</option>
                                    <option value="false">Inactivo</option>
                                </select>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}"></small>
                            </div>
                        </div>
                        <div class="form-group row" >
                            <div class="col-sm-6">
                                <input type="submit" th:value="${title}"
                                       class="btn btn-secondary" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>