<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index.html}"  xmlns:th="http://www.thymeleaf.org"> 
    <section layout:fragment="content">   
        <!-- busqueda y paginacion-->
        <script src="paginator/js/jquery.js"></script>
	    <script type="text/javascript" src="paginator/js/jquery.dataTables.min.js"></script>
	
        <!-- busqueda y paginacion -->
            
        <div class="container">
            <div>
                <p>
                    <a href="addCity" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></i>Agregar</a>
                </p>                            
                <table id="dtHorizontalVerticalExample" class="table table-bordered table-striped table-hover">
                    <thead>
                    <th>Id</th>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Departamento</th>
                    <th>Fecha Agregada</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                    </thead>
                    <tfoot>
                        <th>Id</th>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Departamento</th>
                    <th>Fecha Agregada</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                    </tfoot>
        <tbody>
           <tr th:each="city: ${cityList}">
                            <td th:text="${city.id}"></td>
                            <td th:text="${city.code}"/></td>
                            <td th:text="${city.description}"/></td>
                            <td th:text="${city.departament.getDescription()}"/></td>
                            <td th:text="${city.creation_date}"/></td>                                                                                          
                            <td><a class="btn btn-primary btn-xs"
                                   th:href="@{/editCity/} + ${city.id}" th:text="'editar'"></a></td>
                            <td><a class="btn btn-danger btn-xs"
                                   th:href="@{/deleteCity/} + ${city.id}" th:text="'eliminar'"
                                   onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
           </tr>          
        </tbody>
    </table>
            </div>
        </div>
        <script>
        $(document).ready(function () {
        	$('#dtHorizontalVerticalExample').DataTable({
        	"scrollX": true
        	});
        	$('.dataTables_length').addClass('bs-select');
        	});
        </script>
    </section>       
